[Unit]
Description=IP logger server
After=zcure.service

[Service]
User=$USER
WorkingDirectory=/home/$USER
ExecStart=/usr/bin/ip_logger_server.py
Restart=always

[Install]
WantedBy=multi-user.target
