[Unit]
Description=IP logger server
After=zcure.service

[Service]
User=$USER
WorkingDirectory=$HOME
ExecStart=$PREFIX/bin/ip_logger_server
Restart=always

[Install]
WantedBy=multi-user.target
