[Unit]
Description=Zcure server

[Service]
User=$USER
WorkingDirectory=/home/$USER
ExecStart=/usr/bin/zcure_server.py -p 5210
Restart=always

[Install]
WantedBy=multi-user.target
