[Unit]
Description=Zcure server

[Service]
User=$USER
WorkingDirectory=$HOME
ExecStart=$PREFIX/bin/zcure_server -p 5210
Restart=always

[Install]
WantedBy=multi-user.target
