[Unit]
Description=Port forwarder 9091
After=zcure.service

[Service]
User=$USER
WorkingDirectory=$HOME
ExecStart=$PREFIX/bin/zcure_port_forwarder_server 9091
Restart=always

[Install]
WantedBy=multi-user.target
