[Unit]
Description=Port forwarder transmission 9091
After=zcure.service

[Service]
User=$USER
WorkingDirectory=/home/$USER
ExecStart=/usr/bin/zcure/zcure_port_forwarder_server.py transmission:9091
Restart=always

[Install]
WantedBy=multi-user.target
